{% extends 'base.html.twig' %}

{% block title %}Nouveau job cron{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Créer un nouveau job cron</h1>
    </div>

   <div class="container">
       <div class="card">
           {{ include('job/_form.html.twig') }}
       </div>

   </div>


    <a href="{{ path('index') }}">back to list</a>
{% endblock %}
